.chart {
  width: auto;
  height: 50%;
  padding-top: 1em;
}

.center {
  display: flex;
  justify-content: center;
}

.max {
  display: flex;
  background-color: bisque;
  font-size: large;
  width: 100%;
  margin-top: 1em;
}

p {
  padding-top: 1em;
}

.st-dev {
  display: flex;
  background-color: lightgoldenrodyellow;
  font-size: large;
  width: 100%;
  margin-top: 1em;
}

.react-tabs {
  width: 50%;
  margin-top: 1em;
  padding: 1em;
  border-style: ridge;
}

@media only screen and (max-width: 420px) and (min-width: 320px) {
  .react-tabs {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin: 1em;
    padding: 1em;
    border-style: ridge;
  }

  .chart {
    width: 115%;
    height: 115%;
    position: relative;
    right: 5%;
  }

  p {
    font-size: medium;
    padding: 1em;
  }
}
